* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main {
    padding: 0 24px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
}

h1 {
    color: hsl(0, 0%, 100%);
}

h2 {
    color: hsl(0, 0%, 100%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}

.stat p {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.purple-text {
    color: hsl(277, 64%, 61%);
}

.card {
    height: 400px;
    display: flex;
    flex-direction: row;
    background-color: hsl(244, 38%, 16%);
    overflow: hidden;
    border-radius: 10px;
}

.card-info {
    box-sizing: border-box;
    width: 514px;
    padding-left: 64px;
    padding-top: 70px;
    padding-bottom: 60px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.insights h1 {
    margin-bottom: 25px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.img-container {
    background-color: hsl(277, 64%, 61%);
    height: 100%;
    width: 488px;
}

.img-container img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .card {
        max-width: 100%;
        height: unset;
        flex-direction: column-reverse;
    }

    .card-info {
        width: 100%;
        padding: 30px 30px;
        text-align: center;
    }

    .insights {
        margin-bottom: 30px;
    }

    .img-container {
        width: 100%;
        height: 240px;
    }

    .img-container img {
        width: 100%;
        height: 100%;
    }

    .stats {
        flex-direction: column;
        gap: 20px;
    }
}